{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %} Add categoria {% endblock %}

{% block body_block %}

    <form role="form" id="category_form" method="post" action="/rango/add_category">
        <h2 class="form-signin-heading">
            Adicionar uma categoria</a>
        </h2><br/>
    
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br/><br/>
        {% endfor %}

        <button class="btn btn-primary" type="submit" name="submit">Criar página</button>
    </form>

{% endblock %}
