<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon-rango.png' %}">

    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="{% static "css/rango.css" %}" type="text/css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'rango:index' %}">Rango</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" id="user_form" method="post" action="{% url 'rango:search' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pesquisar" name="query" value=""
                               id="query">
                    </div>
                    <input type="submit" class="btn btn-default" name="submit" value="Pesquisar"/>
                </form>

                <li><a href="{% url 'admin:index' %}">Painel de Administração</a></li>
                <li><a href="{% url 'rango:about' %}">Sobre</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'rango:restricted' %}">Restrito</a></li>
                    <li><a href="{% url 'rango:logout' %}?next=/rango/">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'rango:register' %}">Cadastrar-se</a></li>
                    <li><a href="{% url 'rango:login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block side_block %}
                {% load rango_extras %}
                {% get_category_list category %}
            {% endblock %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                {% block body_block %}{% endblock %}
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'script/jquery.min.js' %}"></script>
<script src="{% static 'script/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'script/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>