{% extends 'rango/base.html' %}

{% block title %}
    {% if id %}
        Edição de categoria
    {% else %}
        Nova categoria
    {% endif %}
{% endblock %}

{% block body_block %}

    {% if not id %}
        <h2 class="form-signin-heading">Cadastro de Categoria:</h2><br/>
    {% else %}
        <h2 class="form-signin-heading">Edição da Categoria</h2><br/>
    {% endif %}

    <form role="form" id="category_form" method="post" action="{% url 'rango:cad_category' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% if not id %}
            <input type="hidden" name="id" value="">
        {% else %}
            <input type="hidden" name="id" value="{{ id }}">
        {% endif %}

        <div class="form-group" style="width: 250px">
            <label>{{ form.name.help_text }}</label><br/>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="alert alert-danger rango-input-error" role="alert">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>

        {% include 'rango/blocos/buttons_form.html' %}
    </form>

{% endblock %}