{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %} Login {% endblock %}

{% block body_block %}

    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <form class="form-signin rango-form-login" role="form" method="post" action="/rango/login/" id="login_form">
        {% csrf_token %}

        <h2 class="form-signin-heading">Entrar</h2><br/>

        <input class="form-control" placeholder="Usuário" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/><br/>
        
        <input type="password" class="form-control" placeholder="Senha" id="id_password" name="password" required /><br/>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" >Entrar</button>
    </form>

{% endblock %}