<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
        <meta charset="UTF-8">
    </head>

    <body>
        {% if category %}
	        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>Sem páginas nesta categoria.</strong>
        {% endif %}
        {% else %}
            Essa categoria não existe!
        {% endif %}
    </body>
</html>