<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
        <meta charset="UTF-8">
    </head>

    <body>
        {% if category %} <!-- 'category' >> é um objeto Category -->
	        <h1>{{ category.name }}</h1>
            {% if pages %} <!-- 'pages' >> é um dicionário de objetos Page -->
            <ul>
                {% for page in pages %} <!-- para cada objeto Page do dicinário 'pages' -->
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p><strong>Sem páginas nesta categoria.</strong></p>
        {% endif %}
        {% else %}
            Essa categoria não existe!
        {% endif %}
        
        <a href="{% url 'rango:add_page' category.slug %}">Adicionar página</a>
    </body>
</html>