{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}

    <div class="page-header">
        {% if user.is_authenticated %}
            <h1>Rango diz... Alô {{ user.username }}</h1><br/>
        {% else %}
            <h1>Rango diz... Alô!</h1><br/>
        {% endif %}
    </div>
    
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-4 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">5 Categorias mais curtidas</h3>
                </div>
            </div>

            {% if categories %}
                <div class="list-group">
                    {% for category in categories %}
                        <a type='button' class='list-group-item' href="{% url 'rango:gotocategory' %}?category_id={{ category.id }}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                    <a type='button' class='list-group-item list-group-item-info' href="{% url 'rango:categories' %}">
                        <i class='glyphicon glyphicon-plus'></i> Ver mais
                    </a>
                </div>
            {% else %}
                <strong>Sem categorias.</strong>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-4 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">5 Páginas mais visualizadas</h3>
                </div>
            </div>

            {% if pages %}
                <div class="list-group">
                    {% for page in pages %}
                        <a type='button' class='list-group-item' href="{% url 'rango:gotopage' %}?page_id={{ page.id }}">
                            {{ page.title }}
                            <span class="badge">{{ page.views }}</span>
                        </a>
                    {% endfor %}
                    <a type='button' class='list-group-item list-group-item-info' href="{% url 'rango:pages' %}">
                        <i class='glyphicon glyphicon-plus'></i> Ver mais
                    </a>
                </div>
            {% else %}
                <strong>Não existem páginas.</strong>
            {% endif %}
        </div>
    </div>


    {% if latest_question_list %}
        <div class="page-header">
            <h4>5 Questões por ordem de data de publicação</h4>
        </div>
        
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'rango:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="bg-danger text-danger" style="padding:10px;"><strong>Não há enquetes disponíveis.</strong></p>
    {% endif %}

{% endblock %}